body {
	color: #fff;
	color: #201d1c;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.8;
	max-width: 1000px;
	margin: 16px auto;
}

h1, h2, h3, h4, h5 {
	color: #e77a22;
}
