body {
  margin: 0;
  background: #000;
}

/** 
 * the cool thing about Web components is that
 * we can provide a fully functional no-js fallback of the component
 * via the `:not(:defined)` selector. 
 */

image-slider:not(:defined) {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;  
}

image-slider:not(:defined) ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

image-slider:not(:defined) ul li {
  margin: 0;
  padding: 0;
}

image-slider:not(:defined) ul li img {
  display: block;
  width: 100vmin;
  height: 100vmin;
}


image-slider:not([index]):not(:defined) ul li:not(:first-child),
image-slider[index="1"]:not(:defined) ul li:not(:nth-child(1)), 
image-slider[index="2"]:not(:defined) ul li:not(:nth-child(2)),
image-slider[index="3"]:not(:defined) ul li:not(:nth-child(3)),
image-slider[index="4"]:not(:defined) ul li:not(:nth-child(4)),
image-slider[index="5"]:not(:defined) ul li:not(:nth-child(5)),
image-slider[index="6"]:not(:defined) ul li:not(:nth-child(6)),
image-slider[index="7"]:not(:defined) ul li:not(:nth-child(7)),
image-slider[index="8"]:not(:defined) ul li:not(:nth-child(8)),
image-slider[index="9"]:not(:defined) ul li:not(:nth-child(9)) {
  display: none;
}
